/.vs
/WebScraping/.vs
/WebScraping/WebScraping/bin/Debug/net8.0
/WebScraping/WebScraping/obj
/WebScraping/WebScraping/appsettings.Development.json
/WebScraping/obj/Docker
/WebScraping/WebScraping.Infra/bin/Debug/net8.0
/WebScraping/WebScraping.Infra/obj
/WebScraping/bin/Debug
/WebScraping/obj/Debug
/bin
/WebScraping/WebScraping/obj
/WebScraping/WebScraping/bin
/WebScraping/WebScraping.Infra/1
/WebScraping/WebScraping.Infra/bin
/WebScraping/WebScraping/1
/WebScraping/1
